
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			Review case summary details
		</h1>

		{{ govukSummaryList({
			classes: 'govuk-!-margin-bottom-6',
			rows: [
			{
				key:
				{
					text: "Full name"
				},
				value:
				{
					text: "a"
				},
				actions:
				{
					items: [
					{
						href: "training-location?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "a"
				},
				value:
				{
					text: "a"
				},
				actions:
				{
					items: [
					{
						href: "how-many-apprentices?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "a"
				},
				value:
				{
					text: "a"
				},
				actions:
				{
					items: [
					{
						href: "start-date?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "a"
				},
				value:
				{
					text: "a"
				},
				actions:
				{
					items: [
					{
						href: "recruitment-required?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "a"
				},
				value:
				{
					text: "s"
				},
				actions:
				{
					items: [
					{
						href: "organisation-name?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "a"
				},
				value:
				{
					html: "a"
				},
				actions:
				{
					items: [
					{
						href: "contact-details?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "a"
				},
				value:
				{
					html: "a"
				},
				actions:
				{
					items: [
					{
						href: "contact-details?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "a"
				},
				value:
				{
					html: "a"
				},
				actions:
				{
					items: [
					{
						href: "contact-details?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			}
			]
		}) }}

		<h2 class="govuk-heading-m govuk-!-margin-top-8">
			Now confirm and send this information
		</h2>		

		<p>
			If you've checked all the information is accurate, confirm and send the case summary and we'll send it to your chosen recipient.
		</p>

		<p>
			{{govukButton({
				text: "Confirm and send",
				href: "confirmation-page"
			})}}
		</p>
	</div>
</div>
{% endblock %}