
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukRadios({
				idPrefix: "existing-new",
				name: "existing-new",
				fieldset: 
				{
					legend: 
					{
						text: "What eye colour does the child or young person have?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--xl"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "yes",
					text: "Blue"
				},
				{
					value: "no",
					text: "Brown"
				},
				{
					value: "no",
					text: "Green"
				},
				{
					value: "no",
					text: "Other"
				}
				]
			}) }}

			<p>
				{{govukButton({
					text: "Continue",
					href: "hair-colour"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
