
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			{{serviceName}}
		</h1>

		<p class="govuk-body-l">
			Social workers can use this service to record the outcome of a Section 47 enquiry.
		</p>

		<p>
			You must use your local authority email address to access this service.
		</p>

		<p>
			You will only be able to use this service if your Local authority is part of this Alpha.
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>Agency checks</li>
			<li>Content of contact with the child cross-referenced with any specific forms used</li>
			<li>Strategy discussion/meeting notes</li>
			<li>Details of the enquiry</li>
			<li>Body maps (where applicable)</li>
			<li>Medical report (where applicable)</li>
			<li>Assessment including identification of risks and how they may be managed</li>
			<li>Legal advice (where applicable)</li>
			<li>Decision-making processes</li>
			<li>Outcome/further action planned</li>
		</ul>

		<p>
			{{govukButton({
				text: "Start now",
				href: "name",
				isStartButton: true
			})}}
		</p>
	</div>
</div>
{% endblock %}
