{% extends "./layout_no-gov.html" %}

{% block pageTitle %}
Case notes for {{data['child'] or "Child A"}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
		<div class="govuk-!-padding-top-2 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4" style="border: solid 1px lightgrey; border-bottom: 0 none">
			<h2 class="govuk-heading-m govuk-!-margin-0">
				Filter
			</h2>
		</div>

		<div class="govuk-!-padding-4 govuk-!-padding-top-6" style="border: solid 1px lightgrey">
			{{ govukInput({
				formGroup:
				{
					classes: "govuk-!-margin-bottom-2"
				},
				label:
				{
					html: 'Keywords',
					classes: "govuk-label--m",
					isPageHeading: false
				},
				id: "event-name",
				name: "event-name"
			}) }}

			{{ govukButton({
				classes: "govuk-button--secondary",
				text: "Search"
			})}}

			{{ govukCheckboxes({
				idPrefix: "filter-type",
				name: "filter-type",
				classes: "govuk-checkboxes--small",
				fieldset: 
				{
					legend: 
					{
						text: "Event type",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "",
					text: ""
				},
				{
					value: "Home visit",
					text: "Home visit"
				},
				{
					value: "Meeting",
					text: "Meeting"
				},
				{
					value: "Telephone call (out)",
					text: "Telephone call (out)"
				},
				{
					value: "Telephone call (in)",
					text: "Telephone call (in)"
				},
				{
					value: "Statutory Child protection (CP) visit",
					text: "Statutory Child protection (CP) visit"
				},
				{
					value: "Statutory Looked After Child (LAC) visit",
					text: "Statutory Looked After Child (LAC) visit"
				},
				{
					value: "Child in need (CIN) visit",
					text: "Child in need (CIN) visit"
				},
				{
					value: "General check in",
					text: "General check in"
				},
				{
					value: "Email",
					text: "Email"
				},
				{
					value: "Text message (SMS, WhatsApp or similar)",
					text: "Text message (SMS, WhatsApp or similar)"
				}
				]
			}) }}

			{{ govukCheckboxes({
				idPrefix: "filter-creator",
				name: "filter-creator",
				classes: "govuk-checkboxes--small",
				fieldset: 
				{
					legend: 
					{
						text: "Added by",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "social-worker",
					text: "You"
				},
				{
					value: "Arthur White",
					text: "Arthur White"
				}
				]
			}) }}

			{{ govukCheckboxes({
				idPrefix: "filter-flagged",
				name: "filter-flagged",
				classes: "govuk-checkboxes--small",
				fieldset: 
				{
					legend: 
					{
						text: "Flagged",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "social-worker",
					text: "Not flagged"
				},
				{
					value: "Arthur White",
					text: "Flagged"
				}
				]
			}) }}

			{{govukButton({
				text: 'Apply filters'
			})}}
		</div>
	</div>

	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			{{data['child'] or "Child A"}}
			<span class="govuk-caption-l">
				Case: 70037619
			</span>
		</h1>

		{% if data['events'].length %}
		<form method="post" action="create-event" class="govuk-!-margin-bottom-4">
			{{govukButton({
				name: "create-new",
				text: "Add an event",
				value: "event",
				classes: "govuk-!-margin-right-3 govuk-!-display-inline-block"
			})}}

			{{govukButton({
				name: "create-new",
				text: "Create a quick note",
				classes: "govuk-button--secondary govuk-!-display-inline-block",
				value: "quick-note"
			})}}
		</form>

		<h2 class="govuk-heading-l">
			{{data['events'].length}} events recorded
		</h2>

		<ol class="hmrc-timeline">
			{% for event in data['events'] %}
			<li class="hmrc-timeline-event">
				{% if event.private == 'true' %}
				<span class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-2">
					Draft
				</span>
				{% endif %}

				<h2 class="hmrc-timeline-event-title govuk-heading-m govuk-!-margin-bottom-3">
					{{event.type}}
					<span class="hmrc-timeline-event-meta govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-1">
						Added by You
					</span>
					<span class="hmrc-timeline-event-meta govuk-caption-m govuk-!-font-size-16">
						{{event.datetime.split('T')[0] | formatDate('D MMMM YYYY')}} {{"at " + event.datetime | formatDate('h:mma') if event.datetime.split('T')[1].length}}
					</span>
				</h2>

				<div class="hmrc-timeline-event-content">
					{% if event['type'] == 'Note' %}
					<p>
						{{event['content'] | striptags(true) | escape | nl2br | truncate(240)}}
					</p>
					{% else %}
					<p>
						{{event['detailed-notes'] | striptags(true) | escape | nl2br | truncate(240)}}
					</p>

					{% if event['attachments'].length %}
					<div class="govuk-grid-row">
						{% for attachment in event['attachments'] %}
						<div class="govuk-grid-column-one-third">
							<p>
								<img src="/public/images/{{attachment}}" width="100%" alt="An example of a photograph attachment.">
							</p>
						</div>
						{% endfor %}
					</div>
					{% endif %}
					{% endif %}

					<ul class="govuk-list">
						<li>
							{% if event['type'] == 'Note' %}
							<a href="note?id={{event.id}}" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-3">View note</a>
							{% else %}
							<a href="event?id={{event.id}}" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-3">View event</a>
							{% endif %}
						</li>
						<li>
							<a href="note?id={{event.id}}">Flag this {{'note' if event['type'] == 'Note' else 'event'}}</a>
						</li>
					</ul>
				</div>
			</li>
			{% endfor %}
		</ol>

		{% else %}
		<p>
			You have not added any events yet.
		</p>
		<form method="post" action="create-written-note">
			<p>
				{{govukButton({
					text: "Add an event",
					classes: "govuk-!-margin-top-4",
					href: "event-type"
				})}}
			</p>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
