
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% set noteContent = note[0]['text'] | striptags(true) | escape | nl2br %}
			<h1 class="govuk-heading-xl">
				Written note
			</h1>
			<p>
				{{noteContent}}
			</p>

			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

			<p class="govuk-!-margin-bottom-0">
				{{govukButton({
					text: "Edit note",
					href: "edit-written-note?id=" + data['id']
				})}}
			</p>

			<p>
				{{ govukButton({
					text: "Delete note",
					classes: "govuk-button--warning",
					attributes:
					{
						formaction: "cancel-written-note",
						formmethod: "get",
						type: "submit"
					}
				}) }}
			</p>
		</form>
	</div>
</div>
{% endblock %}
