
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			{{serviceName}}
		</h1>

		<p class="govuk-body-l">
			Social workers can use this service to record a social work visit.
		</p>

		<p>
			You can:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>add written notes</li>
			<li>upload photos, videos and audio files</li>
			<li>attach files</li>
		</ul>

		<h2 class="govuk-heading-m">
			Before you start
		</h2>

		<p>
			You'll only be able to use this service if your Local authority is part of this Alpha.
		</p>

		<p>
			You must use your local authority email address to access this service.
		</p>		

		<p>
			{{govukButton({
				text: "Start now",
				href: "email-address",
				isStartButton: true
			})}}
		</p>
	</div>
</div>
{% endblock %}
