{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{data['child'] or "Child A"}}
			<span class="govuk-caption-m">
				Case: 70037619
			</span>
		</h1>
		
		<div class="hmcts-search govuk-!-margin-bottom-8">
			<form action="" method="get">
				<div class="govuk-form-group">
					<label class="govuk-label hmcts-search__label govuk-label--m" for="bill">
						Search
					</label>

					<span id="bill-hint" class="govuk-hint hmcts-search__hint ">
						You can search for keywords, family members and attachments
					</span>

					<input class="govuk-input hmcts-search__input " id="bill" name="bill" type="search" aria-describedby="bill-hint">
				</div>

				<button class="govuk-button hmcts-search__button govuk-button--secondary " data-module="govuk-button">
					Search
				</button>
			</form>
		</div>

		

		<h2 class="govuk-heading-l">
			Events recorded so far
		</h2>

		{% if data['events'].length %}
		<form method="post" action="create-event">
			<p>
				{{govukButton({
					text: "Add an event"
				})}}
			</p>
		</form>
		{% endif %}

		{% if data['events'].length %}
		<ol class="hmrc-timeline">
			{% for event in data['events'] %}
			<li class="hmrc-timeline-event">
				<h2 class="hmrc-timeline-event-title govuk-heading-m govuk-!-margin-bottom-3">
					{{event.type}}
					<span class="hmrc-timeline-event-meta govuk-caption-m govuk-!-font-size-16">
						{{event.datetime.split('T')[0] | formatDate('D MMMM YYYY')}} {{"at " + event.datetime | formatDate('h:mma') if event.datetime.split('T')[1].length}}
					</span>
				</h2>

				<div class="hmrc-timeline-event-content">
					<p>
						{{event['detailed-notes'] | striptags(true) | escape | nl2br | truncate(240)}}
					</p>
					<p>
						<a href="event?id={{event.id}}">View event</a>
					</p>
				</div>
			</li>
			{% endfor %}
		</ol>

		{% else %}
		<p>
			You have not added any events yet.
		</p>
		<form method="post" action="create-written-note">
			<p>
				{{govukButton({
					text: "Add an event",
					classes: "govuk-!-margin-top-4",
					href: "event-type"
				})}}
			</p>
		</form>
		{% endif %}
	</div>

	<div class="govuk-grid-column-one-third">
	</div>
</div>
{% endblock %}
