{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{data['case']['title'] or "Child A"}}
		</h1>

		<form method="post" action="create-written-note">
			<p>
				{{govukButton({
					text: "Add an event",
					classes: "govuk-button--secondary",
					href: "event-type"
				})}}
			</p>
		</form>
		
		<h2 class="govuk-heading-l">
			Events recorded so far
		</h2>

		{% if data['events'].length or data['show-events'] == 'true' %}
		<!-- <table class="govuk-table">
			<tbody class="govuk-table__body">
				{% for note in data['written-notes'] %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="written-note?id={{note.id}}">{{note.text | truncate(25) }}</a></td>
					<td class="govuk-table__cell">{{note.timestamp | formatDate('DD MMMM YYYY')}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table> -->

		<ol class="hmrc-timeline">
			<li class="hmrc-timeline-event">
				<h2 class="hmrc-timeline-event-title govuk-heading-m">
					Home visit
				</h2>
				<span class="hmrc-timeline-event-meta govuk-body-s">
					9 October 2020
				</span>

				<div class="hmrc-timeline-event-content">
					<p>
						Lorem ipsum nostrud in ut pariatur laborum elit consectetur laboris nulla in ut veniam irure non est pariatur.
					</p>
					<p>
						<a href="#">View event</a>
					</p>
				</div>
			</li>

			<li class="hmrc-timeline-event">
				<h2 class="hmrc-timeline-event-title govuk-heading-m">
					Telephone call (in)
				</h2>
				<span class="hmrc-timeline-event-meta govuk-body-s">
					24 July 2020
				</span>

				<div class="hmrc-timeline-event-content">
					<p>
						Lorem ipsum nostrud in ut pariatur laborum elit consectetur laboris nulla in ut veniam irure non est pariatur.
					</p>
					<p>
						<a href="#">View event</a>
					</p>
				</div>
			</li>
		</ol>

		{% else %}
		<p>
			You have not added any events yet.
		</p>
		{% endif %}

		<form method="post" action="create-written-note">
			<p>
				{{govukButton({
					text: "Add an event",
					classes: "govuk-button--secondary govuk-!-margin-top-8",
					href: "event-type"
				})}}
			</p>
		</form>
	</div>

	<div class="govuk-grid-column-one-third">
	</div>
</div>
{% endblock %}
