
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			Review event details
		</h1>

		{% set familyMembers %}
		{% for familyMember in data['family-members'] %}
		<p>
			{{familyMember}}
		</p>
		{% endfor %}
		{% endset %}

		{% set eventTime %}
		{% set string = "2000-01-01 " + data['event-time-hours'] + ":" + data['event-time-minutes'] %}
		{{string | formatDate('h:mma')}}
		{% endset %}

		{{ govukSummaryList({
			classes: 'govuk-!-margin-bottom-6',
			rows: [
			{
				key:
				{
					text: "Type of event"
				},
				value:
				{
					text: "a"
				},
				actions:
				{
					items: [
					{
						classes: "govuk-link--no-visited-state",
						href: "start-date?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Event date"
				},
				value:
				{
					text: data['event-date'] | formatDate('D MMMM YYYY')
				},
				actions:
				{
					items: [
					{
						classes: "govuk-link--no-visited-state",
						href: "event-date?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Event time"
				},
				value:
				{
					text: eventTime
				},
				actions:
				{
					items: [
					{
						classes: "govuk-link--no-visited-state",
						href: "event-time?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Family present"
				},
				value:
				{
					html: familyMembers
				},
				actions:
				{
					items: [
					{
						classes: "govuk-link--no-visited-state",
						href: "organisation-name?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Detailed notes"
				},
				value:
				{
					html: familyMembers
				},
				actions:
				{
					items: [
					{
						classes: "govuk-link--no-visited-state",
						href: "organisation-name?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Your analysis"
				},
				value:
				{
					html: "a"
				},
				actions:
				{
					items: [
					{
						classes: "govuk-link--no-visited-state",
						href: "contact-details?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Actions required"
				},
				value:
				{
					html: "a"
				},
				actions:
				{
					items: [
					{
						classes: "govuk-link--no-visited-state",
						href: "contact-details?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Attachments"
				},
				value:
				{
					html: "a"
				},
				actions:
				{
					items: [
					{
						classes: "govuk-link--no-visited-state",
						href: "contact-details?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			}
			]
		}) }}

		<h2 class="govuk-heading-m govuk-!-margin-top-8">
			Now confirm and save this event
		</h2>		

		<p>
			If you've added all the information you need to, you should confirm and save the event to the case for '{{data['child'] or 'Child A'}}'.
		</p>

		<p>
			{{govukButton({
				text: "Confirm and save event",
				href: "confirmation-page"
			})}}
		</p>
	</div>
</div>
{% endblock %}