
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			Review event details
		</h1>

		{{ govukSummaryList({
			classes: 'govuk-!-margin-bottom-6',
			rows: [
			{
				key:
				{
					text: "Event date"
				},
				value:
				{
					text: "a"
				},
				actions:
				{
					items: [
					{
						href: "training-location?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Event time"
				},
				value:
				{
					text: "a"
				},
				actions:
				{
					items: [
					{
						href: "how-many-apprentices?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Type of event"
				},
				value:
				{
					text: "a"
				},
				actions:
				{
					items: [
					{
						href: "start-date?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Reason for contact"
				},
				value:
				{
					text: "s"
				},
				actions:
				{
					items: [
					{
						href: "organisation-name?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Family present"
				},
				value:
				{
					text: "s"
				},
				actions:
				{
					items: [
					{
						href: "organisation-name?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Detailed notes"
				},
				value:
				{
					html: "a"
				},
				actions:
				{
					items: [
					{
						href: "contact-details?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Analysis of information"
				},
				value:
				{
					html: "a"
				},
				actions:
				{
					items: [
					{
						href: "contact-details?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Action"
				},
				value:
				{
					html: "a"
				},
				actions:
				{
					items: [
					{
						href: "contact-details?cya=true",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			}
			]
		}) }}

		<h2 class="govuk-heading-m govuk-!-margin-top-8">
			Now confirm and save this event
		</h2>		

		<p>
			If you've added all the information you need to, you should confirm and save the event to the case for 'Child A'.
		</p>

		<p>
			{{govukButton({
				text: "Confirm and save event",
				href: "confirmation-page"
			})}}
		</p>
	</div>
</div>
{% endblock %}