
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukRadios({
				idPrefix: "type-of-event",
				name: "type-of-event",
				fieldset: 
				{
					legend: 
					{
						text: "What was the event?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--xl"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "Home visit",
					text: "Home visit"
				},
				{
					value: "Meeting",
					text: "Meeting"
				},
				{
					value: "Telephone call (out)",
					text: "Telephone call (out)"
				},
				{
					value: "Telephone call (in)",
					text: "Telephone call (in)"
				},
				{
					value: "Letter (out)",
					text: "Letter (out)"
				},
				{
					value: "Letter (in)",
					text: "Letter (in)"
				}
				]
			}) }}

			<p>
				{{govukButton({
					text: "Save and continue"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
