{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{event.type}}
			<span class="govuk-caption-m">
				{{event.datetime.split('T')[0] | formatDate('D MMMM YYYY')}} {{"at " + event.datetime | formatDate('h:mma') if event.datetime.split('T')[1].length}}
			</span>
		</h1>

		<h2 class="govuk-heading-m">
			Notes
		</h2>		
		<p>
			{{event['detailed-notes'] | striptags(true) | escape | nl2br or "No notes added."}}
		</p>

		<h2 class="govuk-heading-m">
			Family
		</h2>
		<p>
			{% set familyMembers %}
			{% if event['family'].length %}
			{% for familyMember in event['family'] %}
			<p>
				{{familyMember}}
			</p>
			{% endfor %}
			{% else %}
			No family added.
			{% endif %}
			{% endset %}

			{{familyMembers}}
		</p>

		<h2 class="govuk-heading-m">
			Attachments
		</h2>				
		<p>
			{% set attachments %}
			{% if event['attachments'].length %}
			{% for attachment in event['attachments'] %}
			<p>{{attachment}}</p>
			{% endfor %}
			{% else %}
			No attachments.
			{% endif %}
			{% endset %}

			{{attachments}}
		</p>
	</div>

	<div class="govuk-grid-column-one-third">
	</div>
</div>
{% endblock %}
