
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{{ govukPanel({
			titleText: "Your files have been uploaded",
			attributes:
			{
				style: "background: #1d70b8"
			}
		}) }}

		<p class="govuk-body govuk-!-margin-top-6">
			{{govukButton({
				text: "Continue",
				href: "check-your-answers"
			})}}
		</p>
	</div>
</div>
</div>
{% endblock %}
