
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukTextarea({
				name: "note-content",
				id: "note-content",
				label:
				{
					text: "Add details about any incidents",
					classes: "govuk-label--xl",
					isPageHeading: true
				},
				rows: "16",
				hint:
				{
					html: "You should include details of specific incidents as well as the reference for any related forms that were generated."
				}
			}) }}

			<p class="govuk-!-margin-bottom-0">
				{{govukButton({
					text: "Save and continue",
					href: "checks-carried-out"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
