
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukRadios({
				idPrefix: "child",
				name: "child",
				fieldset: 
				{
					legend: 
					{
						text: "Select a case",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--xl"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "Child A",
					text: "Child A",
					hint:
					{
						text: "Born 23 January 2010 (x years old)"
					}
				},
				{
					value: "Child B",
					text: "Child B",
					hint:
					{
						text: "Born 1 August 2016 (x years old)"
					}
				},
				{
					value: "Child C",
					text: "Child C",
					hint:
					{
						text: "Born 3 March 2011 (x years old)"
					}
				}
				]
			}) }}

			<p>
				{{govukButton({
					text: "Save and continue"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
