
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% set contactDateHtml %}
			{{ govukInput({
				label:
				{
					text: "Enter a date",
					isPageHeading: false
				},
				classes: "govuk-input--width-20",
				hint:
				{
					text: ""
				},
				id: "contact-date-specific",
				name: "contact-date-specific",
				spellcheck: false
			}) }}
			{% endset %}

			{{ govukRadios({
				idPrefix: "contact-date",
				name: "contact-date",
				fieldset: 
				{
					legend: 
					{
						text: "When was this contact?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--xl"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "a",
					text: "Today"
				},
				{
					value: "b",
					text: "A different date",
					conditional: 
					{
						html: contactDateHtml
					}
				}
				]
			}) }}

			<p>
				{{govukButton({
					text: "Save and continue",
					href: "contact-time"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
