
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag:
	{
		text: "Alpha"
	},
	html: 'This service is being used for research only.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			{{serviceName}}
		</h1>
		<p class="govuk-body-l govuk-!-margin-bottom-8">
			Ideas for how we might help social workers spend more time doing high value tasks.
		</p>


		<h2 class="govuk-heading-l">
			Sketches and ideas
		</h2>


		<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
			Notes tool
		</h3>
		<h4 class="govuk-heading-s">
			<a href="notes-tool-3-0">Version 3-0</a>
			<span class="govuk-caption-m">12 February 2021</span>
		</h4>
		<p>
			Timeline concept based on workshop to define MVS.
		</p>

		<h4 class="govuk-heading-s">
			<a href="notes-tool-2-0">Version 2-0</a>
			<span class="govuk-caption-m">25 January 2021</span>
		</h4>
		<p>
			Some small changes to journey.
		</p>

		<h4 class="govuk-heading-s">
			<a href="notes-tool-1-0">Version 1-0</a>
			<span class="govuk-caption-m">20 January 2021</span>
		</h4>
		<p>
			First sketches.
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				Basic authentication flow
			</li>
			<li>
				Assessment notes main page
			</li>
			<li>
				Example page for creating a written note
			</li>
		</ul>


		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
			Case summary tool
		</h3>
		<h4 class="govuk-heading-s">
			<a href="case-summary-tool-1-0">Version 1-0</a>
			<span class="govuk-caption-m">2 February 2021</span>
		</h4>
		<p>
			First sketches.
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				Basic journey flow
			</li>
		</ul>

		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
			Record a case note
		</h3>
		<h4 class="govuk-heading-s">
			<a href="case-note-2-0">Version 2-0</a>
			<span class="govuk-caption-m">5 February 2021</span>
		</h4>
		<p>
			Journey refinements based on Liquid Logic screenshots.
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				Limited to adding Case note only
			</li>
			<li>
				Additional questions (from Liquid Logic process)
			</li>
			<li>
				Content improvements
			</li>
		</ul>

		<h4 class="govuk-heading-s">
			<a href="case-note-1-0">Version 1-0</a>
			<span class="govuk-caption-m">2 February 2021</span>
		</h4>
		<p>
			First sketches.
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				Case note basic journey (needs content)
			</li>
			<li>
				Daily record journey
			</li>
		</ul>

		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
			Section 47 tool
		</h3>
		<h4 class="govuk-heading-s">
			<a href="s47-outcome-1-0">Version 1-0</a>
			<span class="govuk-caption-m">3 February 2021</span>
		</h4>
		<p>
			First sketches.
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<!-- <li>
				
			</li> -->
		</ul>
	</div>

	{% endblock %}
